[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"crc16" = "==0.1.1"
"ed25519" = "==1.4"
mnemonic = "==0.18"
aiohttp = "==3.5.*"
aiohttp-sse-client = "==0.1.4"

[dev-packages]
pytest-cov = "*"
mock = "*"
ply = "*"
pytest-asyncio = "*"
asynctest = "*"

[requires]
python_version = "3.7"
